
{% extends 'base.html' %}
{% block content %}

{% include 'Instruments/include/navigation.html' %}

<ul>
    {% for p in instruments %}
    <li>
        <div class="article-panel">
            <p class="first"> Категория: {{p.cat.name}}</p>
            <p class="last"> Дата: {{p.time_updated|date:"d-m-Y H:i:s"}} </p>
        </div>
        {% if p.image %}

        <p><img class="img-article-left thumb" src="{{p.image.url}}"> </p>
        {% endif %}


        <h2> {{ p.title }}</h2>
        {% autoescape off %}
        <p> {{ p.content | linebreaks | truncatewords:50}}</p>
        {% endautoescape %}
        <p> <a href= "{{ p.get_absolute_url }}"> Подробней </a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block navigation %}

{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}"> < </a>
         </li>
        {% endif %}

        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-num page-num-selected"> {{p}} </li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <li class="page-num">
                    <a href="?page={{ p }}">{{p}}</a>
                </li>
            {% endif %}
        {% endfor %}

       {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}"> > </a>
         </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}