
{% extends 'base.html' %}
{% block content %}

{% include 'Instruments/include/navigation.html' %}

<ul>
    {% for p in instruments %}
    {% if p.is_published %}
    <li>
        <h2> {{ p.title }}</h2>
        {% autoescape off %}
        <p> {{ p.content | linebreaks | truncatewords:50}}</p>
        {% endautoescape %}
        <p> <a href= "{% url 'instrument' p.id %}"> Подробней </a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% include 'Instruments/include/navigation.html' %}

{% endblock %}