{% extends 'base.html' %}


{% block content %}

<h1> {{ instrument.title }} </h1>

{% if instrument.image %}
<p> <img class="img-article-left" src="{{instrument.image.url}}"> </p>
{% endif %}

{{ instrument.content | linebreaks}}

{% with instrument.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Тэги:</li>
    {% for t in tags %}
    <li> <a href="{{ t.get_absolute_url }}"> {{t.name}} </a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form action="/edit/{{instrument.pk}}" target="_blank">
   <button>Изменить</button>
  </form>

{% endblock %}