{% extends 'base.html' %}

{% block content %}
<h1>Авторизация</h1>

<form action="" method="post", enctype="multipart/form-data">
        {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />

        {% for field in form %}
        <div class="form-field {% if field.field.required %}required{% endif %}">
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {{ field }}

            {% if field.errors %}
            <div class="error-messages">
                {% for error in field.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}


        </div>
        {% endfor %}

        <button type="submit" class="submit-button">
            Отправить
        </button>
    </form>
{% endblock %}